/* Last_posts---------------------------------------------------------------------------- */
.envir__last_posts {
    overflow: auto;
}
.last_posts {
}
.last_posts__items {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.envir__posts {
    display: flex;
    flex-direction: column;
}
.envir__posts > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
}


