.form_area {
    width: 100%;
    margin: 0px 0px 10px 0px;

    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    background-color: #ebe6e6;
    font-weight: normal;
    font-size: 16px;
    line-height: 137%;
    /* or 137% */
    letter-spacing: 0.003em;

    color: #c1bdbd;
}

.form_area:focus {
    color: black;
}
.form_btn {
    background: #3d44f1;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
    padding: 0px 51px;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
}