
:root {
    --alert-color: #3d44f1;
    --base-color: #f8f8f8;
    --text-color: #34305c;
}
._container {
    max-width: 1320px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
}
.fullscreen {
    min-height: 100vh;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}


.main_page__envir {
    background: #f8f8f8;
    /* shadow neo */

    box-shadow: 30px 30px 80px rgba(255, 255, 255, 0.9), -30px -30px 80px rgba(0, 0, 0, 0.1);
    /* sidebar---------------------------------------------------------------------------- */
    padding: 20px;
    border-radius: 30px;
}

.envir {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.envir__banner {
    position: relative;
    height: 150px;
    width: 100%;
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
}
.envir__banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 5px;
}
/* profilet---------------------------------------------------------------------------- */

.envir__profile {
    display: flex;
    align-items: center;
    margin: 0px 0px 30px 0px;
}

.profile__img {
    flex: 0 0 100px;
    align-self: start;
}

.profile__data {
    flex: 1 1 auto;
    padding: 0px 0px 0px 25px;
}
.profile__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    /* or 122% */
    letter-spacing: 0.003em;
    color: #34305c;
    margin: 0px 0px 15px 0px;
}
.data__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    /* or 137% */
    align-items: center;
    letter-spacing: 0.003em;
    color: #34305c;
}
.data__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
/* post---------------------------------------------------------------------------- */

.envir__posts {
    display: flex;
    flex-direction: column;
}
.envir__posts > *:not(:last-child) {
    margin: 0px 0px 20px 0px;
}

.new_post__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
    /* or 122% */
    letter-spacing: 0.003em;

    color: #34305c;
}
.envir__new_post {
}

.new_post {
}
.new_post_form {
}
.form_area {
    width: 100%;
    margin: 0px 0px 10px 0px;

    padding: 10px 0px 0px 10px;
    border-radius: 5px;
    background-color: #ebe6e6;
    font-weight: normal;
    font-size: 16px;
    line-height: 137%;
    /* or 137% */
    letter-spacing: 0.003em;

    color: #c1bdbd;
}

.form_area:focus {
    color: black;
}
.form_btn {
    background: #3d44f1;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    display: flex;
    min-height: 45px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease 0s;
    padding: 0px 51px;
    margin-left: auto;
    font-weight: 600;
    font-size: 18px;
    line-height: 122%;
}


/* Last_posts---------------------------------------------------------------------------- */
.envir__last_posts {
    overflow: auto;
}
.last_posts {
}
.last_posts__items {
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.last_posts__items > *:not(:last-child) {
    margin: 0px 0px 10px 0px;
}
.last_post__item {
    display: flex;

}
.last_posts__icon {
    flex: 0 0 auto;
    width: 15px;
    height: 15px;
    padding: 5px 0px 0px 0px;
    border-radius: 50%;
    background-color: var(--alert-color);

}
.last_posts__content {
    font-weight: 500;
    font-size: 16px;
    line-height: 137%;
    /* or 137% */
    letter-spacing: 0.003em;

    color: var(--text-color);
    padding: 0px 0px 0px 20px;

}
