.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* variables---------------------------------------------------------------------------- */
:root {
  --alert-color: #3d44f1;
  --base-color: #f8f8f8;
  --text-color: #34305c;
}
/* ---------------------------------------------------------------------------- */

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  font-family: Montserrat;
}

/* base---------------------------------------------------------------------------- */
.wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
.fullscreen {
  min-height: 100vh;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
/* header---------------------------------------------------------------------------- */
.header {
  width: 100%;

  background-color: var(--alert-color);
  position: sticky;
}
.header__container {
  display: flex;
  min-height: 80px;
  align-items: center;
}
.header__logo {
  width: 60px;
  height: 60px;
}
.header__title {
  font-style: italic;
  font-weight: 700;
  font-size: 32px;
  line-height: calc(36 / 32 * 100%);
  /* identical to box height, or 112% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.002em;
  color: #ffffff;
  padding: 0px 0px 0px 50px;
}

/* base---------------------------------------------------------------------------- */
.page__main {
}
.main-page__body {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 240px 1fr;
  margin: 20px 0px 0px 0px;

}
.main-page__container {
}
.main-page__sidebar {
  height: 100%;
}
.main-page__envir {
  background: #f8f8f8;
  /* shadow neo */

  box-shadow: 30px 30px 80px rgba(255, 255, 255, 0.9), -30px -30px 80px rgba(0, 0, 0, 0.1);
  /* sidebar---------------------------------------------------------------------------- */
  padding: 20px;
  border-radius: 30px;

}
.sidebar {
}
/* sidebar menu---------------------------------------------------------------------------- */

.sidebar__menu {
  background: #f8f8f8;
  /* shadow neo */
  box-shadow: 30px 30px 80px rgba(255, 255, 255, 0.9), -30px -30px 80px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 25px 10px;
}
.menu {
}
.menu__list {
  padding: 25px 15px;
}

.menu__item {
  display: flex;
  align-items: center;
}
.menu__icon {
  width: 30px;
  height: 30px;
}
.menu__link {
  margin: 0px 0px 0px 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 120% */
  letter-spacing: 0.003em;
  color: #34305c;
  transition: all 0.3s ease 0s;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__item:not(:last-child) {
  padding: 0px 0px 20px 0px;
}
._item_last {
  padding: 30px 0px 0px 0px;
}
/* adverst---------------------------------------------------------------------------- */

.sidebar__adverst {
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  /* shadow neo */
  box-shadow: -30px -30px 80px rgba(255, 255, 255, 0.9), 30px 30px 80px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 40px 20px;
  margin: 20px 0px 0px 0px;
}
.sidebar__adverst > *:not(:last-child) {
  padding: 0px 0px 20px 0px;
}

.adverst__block {
  opacity: 0.7;
  transition: all 0.3s ease 0s;
}
.adverst__block:hover {
  opacity: 1;
}

/* environtment---------------------------------------------------------------------------- */

.envir {
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.envir__banner {
  position: relative;
  height: 150px;
  width: 100%;
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
}
.envir__banner img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  border-radius: 5px;
}
/* profilet---------------------------------------------------------------------------- */

.envir__profile {
  display: flex;
  align-items: center;
  margin: 0px 0px 30px 0px;
}

.profile__img {
  flex: 0 0 100px;
  align-self: start;
}

.profile__data {
  flex: 1 1 auto;
  padding: 0px 0px 0px 25px;
}
.profile__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  /* or 122% */
  letter-spacing: 0.003em;
  color: #34305c;
  margin: 0px 0px 15px 0px;
}
.data__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  /* or 137% */
  align-items: center;
  letter-spacing: 0.003em;
  color: #34305c;
}
.data__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
/* post---------------------------------------------------------------------------- */

.envir__posts {
  display: flex;
  flex-direction: column;
}
.envir__posts > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

.new-post__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
  /* or 122% */
  letter-spacing: 0.003em;

  color: #34305c;
}
.envir__new-post {
}

.new-post {
}
.new-post_form {
}
.form-area {
  width: 100%;
  margin: 0px 0px 10px 0px;

  padding: 10px 0px 0px 10px;
  border-radius: 5px;
  background-color: #ebe6e6;
  font-weight: normal;
  font-size: 16px;
  line-height: 137%;
  /* or 137% */
  letter-spacing: 0.003em;

  color: #c1bdbd;
}

.form-area:focus {
  color: black;
}
.form-btn {
  background: #3d44f1;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  display: flex;
  min-height: 45px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease 0s;
  padding: 0px 51px;
  margin-left: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 122%;
}
.envir__last-posts {
}
.Last-posts {
}

/* Last-posts---------------------------------------------------------------------------- */
.envir__last-posts {
  overflow: auto;
}
.last-posts {
}
.last-posts__items {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.last-posts__items > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.last_post__item {
  display: flex;

}
.last-posts__icon {
  flex: 0 0 auto;
  width: 15px;
  height: 15px;
  padding: 5px 0px 0px 0px;
  border-radius: 50%;
  background-color: var(--alert-color);

}
.last_posts__content {
  font-weight: 500;
  font-size: 16px;
  line-height: 137%;
  /* or 137% */
  letter-spacing: 0.003em;

  color: var(--text-color);
  padding: 0px 0px 0px 20px;

}

