.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* variables---------------------------------------------------------------------------- */
:root {
  --alert-color: #3d44f1;
  --base-color: #f8f8f8;
  --text-color: #34305c;
}
/* ---------------------------------------------------------------------------- */

a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 500;
  font-family: Montserrat;
}


.wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1320px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}
.fullscreen {
  min-height: 100vh;
}
._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.page__main {
}
.main-page__body {
  display: grid;
  grid-gap: 20px;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: 240px 1fr;
  margin: 20px 0px 0px 0px;

}




