
:root {
    --alert-color: #3d44f1;
    --base-color: #fffefe;
    --text-color: #2b284d;
    --green: #86bb71;
    --blue: #94c2ed;
    --orange: #e38968;
    --gray: #92959e;
}
.chat_body {
    width: 100%;
    margin: 0 auto;
    display: flex;

    background: #fffefe;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.people_list {
    flex: 0 1 30%;
    width: 100%;
    min-width: 250px;


}

.search {
    padding: 20px;
}
input {
    border-radius: 10px;
    border: none;
    padding: 14px;
    color: var(--text-color);
    background: #e7e7e7;
    width: 90%;
    font-size: 14px;
}
.fa-search {
    position: relative;
    left: -25px;
}
.userList {
    padding: 20px;
    height: 770px;
    display: flex;
    flex-direction: column;
}
.clearfix  {
    padding-bottom: 20px;
    display: flex;

}
.clearfix img {
    border-radius: 50%;

}
.about {
    float: left;
    margin-top: 8px;
    padding-left: 8px;
}
.status {
    color: var(--gray);
}
.chat {
    flex: 0 1 auto;
    width: 100%;
    min-width: 320px;
    background: #f2f5f8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
}
.chat_header {
    padding: 20px;
    border-bottom: 2px solid white;
}
.chat_header img {
    float: left;
}

.chat_about {
    float: left;
    padding-left: 10px;
    margin-top: 6px;
}
.chat_with {
    font-weight: bold;
    font-size: 16px;
}
.chat_num_messages {
    color: var(--gray);
}
.fa-star {
    float: right;
    color: #d8dadf;
    font-size: 20px;
    margin-top: 12px;
}
.chat_history {
    padding: 30px 30px 20px;
    border-bottom: 2px solid white;
    overflow-y: scroll;
    height: 575px;
}






.chat_message {
    padding: 30px;
}
.chat_message textarea {
    width: 100%;
    border: none;
    padding: 10px 20px;
    font: 14px/22px "Lato", Arial, sans-serif;
    margin-bottom: 10px;
    border-radius: 5px;
    resize: none;
}
.fa-file-o,
.fa-file-image-o {
    font-size: 16px;
    color: gray;
    cursor: pointer;
}
button {
    float: right;
    color: var(--blue);
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background: #f2f5f8;
}
button:hover {
    color: darken(var(--blue), 7%);
}
.online,
.offline,
.me {
    margin-right: 3px;
    font-size: 10px;
}

.online {
    color: var(--green);
}

.offline {
    color: var(--orange);
}
.me {
    color: var(--blue);
}


