
.clearfix  {
    padding-bottom: 20px;
    display: flex;

}.message_data {
    margin-bottom: 15px;
}
.message_data_time {
    color: lighten(var(--gray), 8%);
    padding-left: 6px;
}

.align_right {
    text-align: right;
}
.message {
    color: white;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 90%;
    position: relative;
}
.other_message {
    background: var(--blue);
}
.float_right {
    float: right;
}
.other_message {
    background: var(--blue);
}
.other_message::after {
    border-bottom-color: var(--blue);
    left: 93%;
}
.message::after {
    bottom: 100%;
    right: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: var(--blue);
    border-width: 10px;
    margin-left: -10px;
}
.align_right {
    text-align: right;
}